---
title: 404
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .error
    .conatainer
      .error__content
        img(src="img/404.png", alt="")
        .error__btn
          p Страница не найдена
          a(href="#").button.button-primary Вернуться

  block footer
    include partials/_footer
  block pop-up
    include partials/_pop-up