---
title: About
---
extends layouts/_layout
block content
  block header
    include partials/_header
  
  
  .about
    .container
      ul.breadcrumbs
        li
          a(href="#") Главная
        li
          a(href="#") О нас
      h1 О нас
      .about__row
        .about__block
          h3 О постели Tirotex
          .about__block__text
            p «Тиротекс» - это текстильная компания с 40-летней историей и годовым оборотом более 100 млн. долларов, работающая по полному циклу производства, начиная от обработки хлопка и заканчивая пошивом разнообразной швейной продукции.
            p Это уникальный производственный комплекс с мощной инфраструктурой, развитой технической, организационной и научной базой.
            p Предприятие ориентировано на внешний рынок сбыта. Объем экспортных поставок составляет около 70% от общего объема продаж.
            p Мы сотрудничаем с заказчиками из более чем 30 стран Европы и СНГ и имеем многолетний опыт работы с крупными компаниями Италии, Германии, Франции, Российской Федерации, Швеции, Финляндии, Америки, Чехии, стран бывшей Югославии и многих других.
            p «Тиротекс» - это текстильная компания с 40-летней историей и годовым оборотом более 100 млн. долларов, работающая по полному циклу производства, начиная от обработки хлопка и заканчивая пошивом разнообразной швейной продукции.
            p Это уникальный производственный комплекс с мощной инфраструктурой, развитой технической, организационной и научной базой.
            p Предприятие ориентировано на внешний рынок сбыта. Объем экспортных поставок составляет около 70% от общего объема продаж.
            p Мы сотрудничаем с заказчиками из более чем 30 стран Европы и СНГ и имеем многолетний опыт работы с крупными компаниями Италии, Германии, Франции, Российской Федерации, Швеции, Финляндии, Америки, Чехии, стран бывшей Югославии и многих других.
        .about__img
          img(src="img/about.jpg", alt="")



  block footer
    include partials/_footer
  block pop-up
    include partials/_pop-up