---
title: Delivery
---
extends layouts/_layout
block content
  block header
    include partials/_header
  


  .delivery
    .container
      ul.breadcrumbs
        li
          a(href="#") Главная
        li
          a(href="#") Доставка и оплата 
      h1 ДОСТАВКА И ОПЛАТА
      .row
        .col-md-6
          h2 Доставка
          strong Доставка по Украине
          p Наш интернет-магазин осуществляет доставку по всей Украине с помощью почтовых услуг компаний за счет получателя:
          ul
            li - Новая почта;
            li - Укр.почта.
          p Отправка товара производится на следующий день после заказа до 15 часов. В этот же день Ваш заказ будет отправлен почтовой компанией и доставлен в теч. 1-7 дней (по срокам выбранной почты) в место назначения.
          strong Доставка по Одессе
          ul
            li - Курьерская доставка по городу (кроме пос. Кот.) - 50 грн.
            li - Доставка на пос. Кот - 100 грн.
          strong Способы оплаты:
          ul
            li - Наложенный платеж (2% от суммы заказа оплачивается почтовому сервису);
            li - Полная предоплата товара на карту ПриватБанка (экономия за наложенный платеж 2% от суммы).
        .col-md-6
          h2 Оплата
          strong Оплата в нашем интернет-магазине осуществляется 3-мя способами:
          ul
            li - наложенный платеж (2% от суммы заказа оплачивается почтовому сервису);
            li - полная предоплата товара на карту ПриватБанка (экономия за наложенный платеж от 30 грн);
          p Номер карты: 5168 7426 0582 7975 (Зверяка Э.В.)
          p В случае предоплаты Вы экономите от 30 грн за пересылку денежных средств обратно.
          strong Внимание! Не оплачивайте заказ до утверждения его наличия менеджером.
          p Мы всегда идем навстречу нашим покупателям и принимаем обмен и возврат покупки в теч. 14 дней после получения товара (все пересылки оплачивает покупатель).






  block footer
    include partials/_footer
  block pop-up
    include partials/_pop-up