---
title: Dropshipping
---
extends layouts/_layout
block content
  block header
    include partials/_header
  
  
  .dropshipping
    .container
      ul.breadcrumbs
        li
          a(href="#") Главная
        li
          a(href="#") О нас
      h1 Дропшиппинг 
        span постельного белья в Украине
      .dropshipping__content
        .dropshipping__text
          p Дропшиппинг постельного белья от производителя - это лучшие условия для начинающих предпринимателей, у которых нет капитала, но есть амбиции!
          p Интернет-магазин Tirotex.com.ua предоставляет отличные условия для перепродажи нашей продукции на ваших площадках и других каналах продаж.
          strong Условия сотрудничества дропшиппинга

          p Условия сотрудничества просты, а именно:
          ul
            li 1. Вы находите заказ и скидываете его нам;
            li 2. Далее мы подтверждаем его наличие на складе и при положительном ответе отправляем его вашему клиенту или Вам - тут уже как удобнее будет вам.
          strong Как производится оплата?
          p Вы спросите как быть с оплатой по системе дропшиппинга постели? Тут тоже всё не сложно, оплата может производиться несколькими способами:
          ul
            li 1. 100% предоплата заказа, после чего оформляется отправка товара вашему клиенту;
            li 2. мы отправляем вашему заказчику заказ наложенным платежом и после его получения свою прибыль вы получите на карту.
        .dropshipping__step
          .dropshipping__step__block
            div
              h2 ШАг 1
              p Клиент делает у вас заказ и оплачивает его по вашей цене
            div
              img(src="img/dropshipping-wholesale/step-1.png", alt="")
              strong КЛиент
          .dropshipping__step__block
            div
              h2 ШАг 2
              p Вы передаете заказ нам и оплачиваете его  по нашей цене Ваша выгода в разнице цен.
            div
              img(src="img/dropshipping-wholesale/step-2.png", alt="")
              strong Ваш магазин
          .dropshipping__step__block
            div
              h2 ШАг 3
              p Мы упаковываем товар и отправляем клиенту (или вам, а вы клиенту)
            div
              img(src="img/dropshipping-wholesale/step-3.png", alt="")
              strong Поставщик
        .dropshipping__text
          p Ассортимент на сайте обновляется еженедельно и уже насчитывает более 400 принтов, как взрослого так и детского постельного белья, которое также возможно на условиях оптовой продажи постели.
          strong Группа дропшиппинга в Вайбере.
          p Вступайте в нашу группу в Вайбере для дропшипперов и получайте всю актуальную информацию и сотрудничестве - 
            a(href="#") ссылка
          strong Группа дропшиппинга в Телеграм
          p Вступайте в нашу группу в Телеграм для дропшипперов и получайте всю актуальную информацию и сотрудничестве - 
            a(href="#") ссылка
          p Полную информацию Вы можете получить по телефонам (желательно пишите на вайбер - (093) 52-22-973) :
          span
          ol
            li +38 (093) 52-22-973 (Вайбер, Телеграм и др. мессенджеры доступны по этому номеру)
            li +38 (096) 48-22-442
            li Группа в вайбере - 
              a(href="#") ссылка
            li Дропшиппинг Телеграм - 
              a(href="#") ссылка
            li Почта: 
              a(href="mailto:sale@tirotex.com.ua") sale@tirotex.com.ua





  block footer
    include partials/_footer
  block pop-up
    include partials/_pop-up