---
title: News Article
---
extends layouts/_layout
block content
  block header
    include partials/_header
  
  .container
    ul.breadcrumbs
      li
        a(href="#") Главная
      li
        a(href="#") Новости
      li
        a(href="#") Как выбрать постельное белье
  .news-article
    .container
      .news-article__title
        h1 Как выбрать постельное белье?
        span 30.01.2020
      .news-article__content
        p Следует отметить, что курс на социально-ориентированный национальный проект предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
        p Повседневная практика показывает, что современная методология разработки предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Следует отметить, что экономическая повестка сегодняшнего дня говорит о возможностях стандартных подходов.
        p Имеется спорная точка зрения, гласящая примерно следующее: некоторые особенности внутренней политики будут объявлены нарушающими общечеловеческие нормы этики и морали. Безусловно, современная методология разработки способствует повышению качества поэтапного и последовательного развития общества. Являясь всего лишь частью общей картины, активно развивающиеся страны третьего мира обнародованы. С другой стороны, курс на социально-ориентированный национальный проект прекрасно подходит для реализации вывода текущих активов.
        p Предварительные выводы неутешительны: убеждённость некоторых оппонентов предполагает независимые способы реализации существующих финансовых и административных условий. С учётом сложившейся международной обстановки, повышение уровня гражданского сознания прекрасно подходит для реализации распределения внутренних резервов и ресурсов.
        img(src="img/article/article-1.jpg", alt="")
        p Следует отметить, что курс на социально-ориентированный национальный проект предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. 
        p Повседневная практика показывает, что современная методология разработки предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Следует отметить, что экономическая повестка сегодняшнего дня говорит о возможностях стандартных подходов.
        p Имеется спорная точка зрения, гласящая примерно следующее: некоторые особенности внутренней политики будут объявлены нарушающими общечеловеческие нормы этики и морали. Безусловно, современная методология разработки способствует повышению качества поэтапного и последовательного развития общества. Являясь всего лишь частью общей картины, активно развивающиеся страны третьего мира обнародованы. С другой стороны, курс на социально-ориентированный национальный проект прекрасно подходит для реализации вывода текущих активов.
        p Предварительные выводы неутешительны: убеждённость некоторых оппонентов предполагает независимые способы реализации существующих финансовых и административных условий. С учётом сложившейся международной обстановки, повышение уровня гражданского сознания прекрасно подходит для реализации распределения внутренних резервов и ресурсов.
        .row.news-article__img.hidden-xs
          .col-md-6
            img(src="img/article/article-2.jpg", alt="")
          .col-md-6
            img(src="img/article/article-3.jpg", alt="")
        p Следует отметить, что курс на социально-ориентированный национальный проект предопределяет высокую востребованность позиций, занимаемых участниками в отношении поставленных задач. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. 
      
      .news-article__comments
        .news-article__comments__row
          .news-article__comments__star
            ul.star
              li
                i.icon-star
              li
                i.icon-star
              li
                i.icon-star
              li
                i.icon-star
              li
                i.icon-star-transparent
            span 25 оценок
          .news-article__comments__social
            p Поделиться
            .social-icon
              a(href="#")
                i.icon-viber
                  .path1
                  .path2
              a(href="#")
                i.icon-telegram
              a(href="#")
                i.icon-fb
          strong Комментарии (2)
        .news-article__comments__block
          b Ксения
            span 25.03.2020
          p Очень информативная статья спасибо, теперь буду знать, как правильно ухаживать за бельем!)
            a(href="#") ответить
        .news-article__comments__block
          b Ксения
            span 25.03.2020
          p Очень информативная статья спасибо, теперь буду знать, как правильно ухаживать за бельем!)
            a(href="#") ответить
      form.news-article__form
        h2 написать комментарий
        .row
          .col-md-6
            span Имя*:
            input(type="text" name="name" required)
          .col-md-6
            span E-mail*:
            input(type="email" name="name" required)
          .col-md-12
            span Комментарий:
            textarea
            button(type="submit").button.button-secondary Отправить
      .news-article__btn
        a(href="#").button.button-transparent-black Предыдущая 
          span статья
        a(href="#").button.button-transparent-black Следующая 
          span статья
  


  block footer
    include partials/_footer
  block pop-up
    include partials/_pop-up