---
title: All Pages
---
extends layouts/_layout
block content
  block header
    include partials/_header
  
  
  .news
    .container
      ul.breadcrumbs
        li
          a(href="#") Главная
        li
          a(href="#") Новости
      h1 БЛОГ
      .row
        .col-lg-3.col-md-4.col-6
          .product-card.product-card--news
            .product-card__img
              img(src="img/product/product.jpg", alt="")
            .product-card__description
              h4 Как правильно подобрать постельное белье
              div
                ul.star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star-transparent
                b 23 отзыва
            .product-card__btn
              span 30.01.2020
              a(href="#") Подробнее
        .col-lg-3.col-md-4.col-6
          .product-card.product-card--news
            .product-card__img
              img(src="img/product/product.jpg", alt="")
            .product-card__description
              h4 Как правильно подобрать постельное белье
              div
                ul.star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star-transparent
                b 23 отзыва
            .product-card__btn
              span 30.01.2020
              a(href="#") Подробнее
        .col-lg-3.col-md-4.col-6
          .product-card.product-card--news
            .product-card__img
              img(src="img/product/product.jpg", alt="")
            .product-card__description
              h4 Как правильно подобрать постельное белье
              div
                ul.star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star-transparent
                b 23 отзыва
            .product-card__btn
              span 30.01.2020
              a(href="#") Подробнее
        .col-lg-3.col-md-4.col-6
          .product-card.product-card--news
            .product-card__img
              img(src="img/product/product.jpg", alt="")
            .product-card__description
              h4 Как правильно подобрать постельное белье
              div
                ul.star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star-transparent
                b 23 отзыва
            .product-card__btn
              span 30.01.2020
              a(href="#") Подробнее
        .col-lg-3.col-md-4.col-6.hidden-xs
          .product-card.product-card--news
            .product-card__img
              img(src="img/product/product.jpg", alt="")
            .product-card__description
              h4 Как правильно подобрать постельное белье
              div
                ul.star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star-transparent
                b 23 отзыва
            .product-card__btn
              span 30.01.2020
              a(href="#") Подробнее
        .col-lg-3.col-md-4.col-6.hidden-xs
          .product-card.product-card--news
            .product-card__img
              img(src="img/product/product.jpg", alt="")
            .product-card__description
              h4 Как правильно подобрать постельное белье
              div
                ul.star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star-transparent
                b 23 отзыва
            .product-card__btn
              span 30.01.2020
              a(href="#") Подробнее
        .col-lg-3.col-md-4.col-6.hidden-xs
          .product-card.product-card--news
            .product-card__img
              img(src="img/product/product.jpg", alt="")
            .product-card__description
              h4 Как правильно подобрать постельное белье
              div
                ul.star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star-transparent
                b 23 отзыва
            .product-card__btn
              span 30.01.2020
              a(href="#") Подробнее
        .col-lg-3.col-md-4.col-6.hidden-xs
          .product-card.product-card--news
            .product-card__img
              img(src="img/product/product.jpg", alt="")
            .product-card__description
              h4 Как правильно подобрать постельное белье
              div
                ul.star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star
                  li
                    i.icon-star-transparent
                b 23 отзыва
            .product-card__btn
              span 30.01.2020
              a(href="#") Подробнее

        .col-lg-12
          .page-buttons
            a(href="#").button.button-transparent 
              span Больше  статей
              span Еще
            ul
              li.active
                a(href="#") 1
              li
                a(href="#") 2
              li
                a(href="#") 3
              li
                a(href="#") 4
              li
                a(href="#") 5
              li 
                span ...
              li
                a(href="#") 884



  block footer
    include partials/_footer
  block pop-up
    include partials/_pop-up