---
title: All Pages
---
extends layouts/_layout
block content
  block header
    include partials/_header
  
  
  .pages
    .container
      h1 All Pages
      ul
        li
          a(href="index.html") Home
        li
          a(href="404.html") 404
        li
          a(href="contact.html") Contact
        li
          a(href="news.html") News
        li
          a(href="news-article.html") News article
        li
          a(href="dropshipping.html") Dropshipping
        li
          a(href="wholesale.html") Wholesale (ОПТ)
        li
          a(href="about.html") About
        li
          a(href="delivery.html") Delivery
        li
          a(href="reviews.html") Reviews
        li
          a(href="order.html") Order



  block footer
    include partials/_footer
  block pop-up
    include partials/_pop-up