---
title: Wholesale
---
extends layouts/_layout
block content
  block header
    include partials/_header
  
  
  .dropshipping.dropshipping--wholesale
    .container
      ul.breadcrumbs
        li
          a(href="#") Главная
        li
          a(href="#") О нас
      h1 Купить постельное белье 
        span Тиротекс (Тирасполь) 
        | оптом в Украине
      .dropshipping__content
        .dropshipping__img
          img(src="img/dropshipping-wholesale/wholesale.png", alt="")
        .dropshipping__text
          p Оптовая продажа постельного белья Тиротекс г. Тирасполь (Молдова) осуществляется на следующих условиях (любой цвет и размер):
          p скидка считается на весь заказ:
          ol
            li - 2 комплекта - скидка 40 грн
            li - 3 комплекта - скидка 50 грн
            li - 4 комплекта - скидка 60 грн
            li - от 5 комплектов - скидка 5%
            li - от 10 комплектов - скидка 7%
            li - от 20 комплектов - скидка 10%

          p От 30 комплектов ОПТОВЫЕ цены на комплекты будут следующие (30 штук любого цвета и размера, в т.ч. и детские):
          ol
            li - В кроватку детское - 180 грн
            li - Полуторное детское - 390 грн
            li - 1.5 спальные комплекты - 390 грн
            li - 2-х спальные комплекты - 440 грн
            li - 2-х спальные МАКСИ - 490 грн
            li - Евро комплекты - 490 грн
            li - Семейные комплекты - 620 грн
            li - Евро макси - 560 грн
          p При еще большем заказе (от 50 шт) скидка индивидуальная.
          .dropshipping__text.dropshipping__text--width
            strong Внимание! Цены могут меняться в зависимости от курса доллара.
            p ПЕРЕСЫЛКА товара за счет покупателя.
            p Не имеете возможности совершить большой оптовый заказ постели сразу? Для вас есть отличное предложение приобретать постельное белье по сниженным ценам! Подробнее можете ознакомиться на странице 
              a(href="#") дропшиппинга.
            p Полную информацию Вы можете получить по телефонам:
            p +38 (093) 52-22-973 (Вайбер, Телеграм и др. мессенджеры доступны по этому номеру)
            p +38 (096) 48-22-442
            p Почта: sale@tirotex.com.ua





  block footer
    include partials/_footer
  block pop-up
    include partials/_pop-up