//BEGIN footer
footer.footer
  .container
    .footer__nav
      ul
        li
          a(href="#") Доставка и оплата
        li
          a(href="#") Контакты
        li
          a(href="#") Новости
        li
          a(href="#") Блог
        li
          a(href="#") О нас
      ul.footer__social
        li
          span Мы в социальных сетях
          .social-icon
            a(href="#")
              i.icon-inst
            a(href="#")
              i.icon-viber
                .path1
                .path2
            a(href="#")
              i.icon-telegram
            a(href="#")
              i.icon-fb
          span Узнавайте первыми о распродажах и новинках и скидках!
          form.footer__share
            input(type="email")
            button(type="submit") подписаться
      ul.hidden-sm.hidden-xs
        li
          a(href="#") Личный кабинет
        li
          a(href="#") История заказов
        li
          a(href="#") Избранное
        li
          a(href="#") Рассылка новостей
      ul.footer__schedule
        li
          span.hidden-xs Контакты
          a(href="tel:+380935222973") +38 (093) 52-22-973
          a(href="tel:+380964822442") +38 (096) 48-22-442
        li 
          span График работы:
          span Пн-Сб 9.00-19.00
        li.hidden-sm.hidden-md.hidden-lg
          a(href="#").button.button-primary Обратный звонок
    .footer__copyright
      p Интернет-магазин TIROTEX, 2020. All right reserved
      
              
//END footer