include ./_mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
    //BEGIN out
    .out#out(class=outClass)
      block content
    .btn-messenger
      a(href="#")
        img(src="img/viber.png", alt="")
      a(href="#") 
        img(src="img/telegram.png", alt="")
    //END out

    //LOAD SCRIPTS
    block scripts
      script(type="text/javascript" src="js/app.js")
