html
body
  font-family: 'Montserrat', sans-serif
  box-sizing: border-box
  position: relative
  font-size: 14px
  color: $black
.container
  box-sizing: border-box
  padding: 0 15px
  +rmin(1230)
    max-width: 1200px !important
    padding: 0
a
  text-decoration: none !important
  transition: all 0.3s
input[type="submit"]
  appearance: none
  -webkit-appearance: none


input, textarea
  font-size: 14px
  line-height: 1.4
  color: $black
  +placeholder-color($light-black)
  background: #F9F9F9
  border: 1px solid #CCCCCC
  border-radius: 10px
  padding: 10px 15px 9px
  resize: none


+r(767)
	.hidden-xs
		display: none !important
@media only screen and (min-width: 768px) and (max-width: 992px)
	.hidden-sm
		display: none !important
@media only screen and (min-width: 993px) and (max-width: 1200px)
  .hidden-md
    display: none !important
+rmin(1200)
	.hidden-lg
		display: none !important


::-webkit-scrollbar-track
  background-color: $light-gray

::-webkit-scrollbar-thumb
  border-radius: 6px
  background-color: #D7B99E

::-webkit-scrollbar
  width: 10px
  +r(992)
    width: 4px




//range
.irs--sharp
  position: relative
  top: -18px
  +r(992)
    top: 8px
    margin-bottom: 10px
.irs--sharp .irs-bar
  background: $beige
  height: 1px
.irs--sharp .irs-handle
  width: 10px
  height: 25px
  border-radius: 30px
  background-color: $beige
  top: 19px
  cursor: pointer
  i
    display: none !important
.irs--sharp .irs-line
  background: $grey
  height: 1px
.irs--sharp .irs-from, .irs--sharp .irs-to, .irs--sharp .irs-single
  background: none
  color: $black
  font-size: 14px
  top: 50px
  +r(992)
    top: -5px
  &::before
    display: none





//fancybox
.fancybox-close-small
  right: -45px
  padding: 0
  svg
    font-size: 30px
.fancybox-button
  opacity: 1 !important
  visibility: visible !important
  +center
  i
    font-size: 18px


//quantity
.quantity-block
  margin-top: 20px
  width: 123px
  height: 30px
  border-radius: 8px
  border: solid 1px #cccccc
  background-color: #f6f6f6
  display: flex
  overflow: hidden
  +r(767)
    margin-top: 15px
  button, input
    width: 42px
    height: 100%
  button
    +center
    background: none
    font-size: 15px
    line-height: 1
    outline: none
    i.icon-minus
      font-size: 1.5px
  input
    border: none
    border-left: solid 1px #cccccc
    border-right: solid 1px #cccccc
    border-radius: 0
    padding: 0 5px
    text-align: center
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0



.tooltip-open
  position: relative
.tooltip-block
  width: 238px
  height: 68px
  background-color: #f6f6f6
  padding: 6px 10px
  position: absolute
  bottom: calc(100% + 10px)
  left: -30px
  border-radius: 5px
  display: none
  p
    font-size: 10px
    font-weight: normal
    line-height: 1.3
    letter-spacing: 0.2px
    color: $black




.btn-heart
  width: 27px
  height: 27px
  cursor: pointer
  +r(767)
    width: 18px
    height: 18px
  i
    position: absolute
    display: block
    // color: $black
    font-size: 24px
    +tr
    +r(767)
      font-size: 16px
  .icon-heart
    opacity: 0
  input
    display: none
    &:checked + div
      .icon-heart-transparent
        opacity: 0
      .icon-heart
        opacity: 1 !important
    



.breadcrumbs
  display: flex
  flex-wrap: wrap
  align-items: center
  padding-top: 20px
  li
    &:last-child
      &::after
        display: none
      a
        font-weight: 500
        cursor: default
        color: $black
    &::after
      content: '\e902'
      font-family: 'icomoon' !important
      font-size: 9px
      margin: 0 6px
  a
    font-size: 14px
    font-weight: 400
    line-height: 1.4
    letter-spacing: 0.28px
    color: $black
    &:hover
      color: $beige





.page-buttons
  display: flex
  justify-content: flex-end
  align-items: center
  position: relative
  +r(992)
    flex-direction: column
  a.button
    +relative-x
    padding: 10px 30px
    position: absolute
    top: 5px
    +r(992)
      position: static
      transform: none
      margin-bottom: 20px
    span:last-child
      display: none
      +r(767)
        display: block
    span:first-child
      +r(767)
        display: none
  ul
    display: flex
    justify-content: flex-end
    width: 100%
    +r(767)
      width: calc(100% + 30px)
    a
      color: #333333
      +Montserrat-reg-14()
      padding: 3px 6px
      margin: 0 3px
      +center
      &:hover
        color: $beige
    span
      color: #333333
      +Montserrat-reg-14()
      padding: 3px 10px
    li.active
      a
        border-bottom: 2px solid $beige
        color: $beige
    
  




    


.star
  display: flex
  font-size: 13px






.social-icon
  display: flex
  a
    margin-right: 8px
    width: 26px
    height: 26px
    background: $beige
    border-radius: 50%
    display: flex !important
    +center
    margin-bottom: 0
    &:hover
      background: $black
      text-decoration: none !important
    i
      font-size: 13px
      color: #fff
      &.icon-viber
        font-size: 15px






.pages
  padding: 150px 0 50px
  h1
    font-size: 40px
    color: $black
    margin-bottom: 30px
    display: block
    text-align: center
  li
    +center
    a
      font-size: 18px
      color: $black
      line-height: 2
      &:hover
        text-decoration: underline