section.home-about
  .container
    h2 Интернет-магазин постельного белья TIROTEX
    .home-about__video
      a(href="#")
        i.icon-play
          .path1
          .path2
    .home-about__content
      .home-about__dropdown
        h4 Интернет-магазин официального постельного белья TIROTEX
        .home-about__dropdown__text
          p Добро пожаловать в интернет-магазин тираспольского постельного белья Тиротекс (Молдова) в Украине! 
            span Мы с радостью принимаем и обслуживаем заказы 7 дней в неделю с 9.00 до 18.00 времени в телефонном режиме и круглосуточно в любом из доступных мессенджеров (Viber, Telegram). Доставка постели возможна по всей Украине почтовыми сервисами. 
            span Сделайте заказ через сайт и мы Вам перезвоним для согласования подробностей заказа, способа оплаты и доставки товара. #тиротекc ком юа
      .home-about__dropdown
        h4 Качество постельных комплектов TIROTEX
        .home-about__dropdown__text
          p Молдавское постельное бельё участвовало в конкурсе "Лучшее постельное белье на рынке Украины". Химический анализ показал, что продукция Тиротекса (она же "Тиратекс") находится на высочайшем уровне и является лучшей из предлагаемого бязевого белья. В результате тираспольское белье получает "Знак качества" от телеканала Интер. Программа является независимой и не сотрудничает с производителями.
      .home-about__dropdown
        h4 Постельное белье TIROTEX
        .home-about__dropdown__text
          p Современный интерьер нельзя представить без дополнений из текстиля, выполняющих как практическую, так и эстетическую функции. Обшивка мягкой мебели, гардины, скатерти и прочее – все это придает помещению нотки особенного уюта и комфорта. Отдельно следовало бы обратить внимание на выбор качественных постельных принадлежностей.
          p Никто не будет оспаривать тот факт, что активность человека в дневные часы напрямую зависит от правильного и полноценного здорового сна. Именно поэтому огромное значение имеет то, на чем спят люди. Обеспечить спокойный сон в удобном месте дает возможность компания Тиротекс, предоставляющая отличный выбор молдавских текстильных изделий хорошего качества. Разнообразные наборы для спальни, отличающиеся по расцветке, составу тканей и размерам, по достоинству оценили многие покупатели интернет-магазина tirotex.com.ua.
      .home-about__dropdown
        h4 Предложения размеров от  TIROTEX
        .home-about__dropdown__text
          p Следуя пожеланиям потребителей, молдавская компания дает возможность практически каждому покупателю найти все необходимое по доступной цене. Именно поэтому так называемая размерная сетка постели предоставлена в интернет-магазине в полном объеме. Здесь можно выгодно купить полуторные и двуспальные комплекты – обычные либо макси. Кроме того, торговая марка рекомендует также обратить внимание на постельные наборы евро размера, выполненные по евростандарту. Для супружеских пар продаются семейные комплекты, рассчитанные на широкую двуспальную кровать, куда входят простыни и пододеяльники нужных параметров.
          p Для детей также имеется богатый выбор. Постельное белье для малышей предоставлено в каталоге магазина в виде готовых комплектов в формате 110х140 см, рассчитанных на детское одеяло. Для более старших есть полуторные наборы ярких расцветок, и при этом следует отметить, что стремление окружить своего ребенка натуральной продукцией, обладающей высокой экологичностью – это та задача, которая легко решают родители с помощью компании Тиратекс.
      .home-about__dropdown
        h4 Преимущества постельного белья TIROTEX
        .home-about__dropdown__text
          p Молдавское постельное белье, приобретаемое у нас, отмечено многими положительными отзывами покупателей. Кроме того, оно заслуженно обладает Знаком Качества от телеканала Интер и отличается следующими особенностями:
          ul
            li натуральность основных компонентов;
            li прочность и долговечность;
            li возможность выдерживать множество стирок без деформаций и потери цвета;
            li отсутствие катышков и прочих неприятностей даже после длительного интенсивного использования белья;
            li присутствие декоративных элементов в работе.
          p Продукция, выпускаемая этой компанией, очень хорошо зарекомендовала себя в разных сферах жизни человека.
      .home-about__dropdown
        h4 Проверенное годами качество белья
        .home-about__dropdown__text
          p Постельные комплекты от молдавского производителя с успехом используются не только обычными потребителями, но и в гостиницах, домах отдыха, детских садах. Залогом такой популярности является доступная стоимость изделий, а также высокий эксплуатационный ресурс пододеяльников, простыней, наволочек. Тираспольские изготовители придерживаются принципов добросовестного подхода к процессу производства. Задействование современных технологий и использование натурального сырья дает им возможность предлагать покупателю наборы постельного белья из:
            span Бязь – это хлопчатобумажная ткань, в которой используется полотняный тип переплетения нитей, крест-накрест. Такой материал может сохранять цвет рисунка до пяти лет при многократных стирках. Бязь легко гладится, антистатична, отлично впитывает влагу и весьма приятна для кожи по тактильным ощущениям. Постель из этой ткани прекрасно пропускает воздух, позволяя телу человека свободно дышать во время сна.
            span Жатка - термически обработанная в заводских условиях ткань, позволяющая получить мятую структуру, которая окрашивается различными рисунками. Жатка, используемая тираспольским изготовителем, содержит чисто хлопковые волокна, и поэтому она характеризуется исключительной комфортностью для человеческой кожи. Изделия из жатки беспроблемно поддаются стирке в стиральных машинках и совершенно не требуют глажки. Радуя своим качеством и приятным внешним видом, продукция из этого материала, отлично вписывается в интерьер любой спальни.

