section.home-intro
  .container
    .row
      .col-lg-6
        .home-intro__img.home-intro__img-primary
          img(src="img/home/intro-img-1.jpg", alt="")
          a(href="#")
            span постельное 
              div
              | белье
      .col-lg-6
        .home-intro__row
          .home-intro__img.home-intro__img-secondary
            img(src="img/home/intro-img-2.jpg", alt="")
            a(href="#")
              span постель 
                div
                | жатка
          .home-intro__img.home-intro__img-secondary
            img(src="img/home/intro-img-3.jpg", alt="")
            a(href="#")
              span детское 
                div
                | белье
      .col-12
        h2 Интернет-магазин постельного белья  TIROTEX